/* Aquí escribiremos el código CSS */
footer {
  font-family: cursive;
  color: antiquewhite;
  background-color: black;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: aquamarine ;
}